$animaciones: ( 
	In: fadeIn 2s ,
	InUp: fadeInUp 2s ,
	Pulses: pulse 3s ,
	Flip: flipInY 2s ,
); 

@each $animacion, $efecto in $animaciones {
.caja--#{$animacion} {
   animation: $efecto;
}
}

.zoom {
	transition: transform .2s; 
	margin: 0 auto;
  }
  
  .zoom:hover {
	transform: scale(1.3); 
  }