
/* ---Seccion Home-------------------*/ 

.cajaImg {
	margin: auto;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
}

.bordeCarrousel {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	}

.carousel-control-prev-icon {
		background-image: url("../imagenes/boton-prev.svg");
	}
	
.carousel-control-next-icon {
		background-image: url("../imagenes/boton-next.svg");
	}

.cajaTitular {
	overflow: hidden;
	margin: auto;
}

.cajaTextIndex{
	overflow: hidden;
	margin: auto;
}

.videoHome {
	overflow: hidden;
	margin: auto;
	margin-bottom: 15px;
}

.fondoVideo {
	background-image: url("../imagenes/fondovideo1.png");
	background-repeat: no-repeat;
	position: relative;
}


/* ---Seccion QUE ES--------------------*/ 

.cajaQueEs{
	margin-top:30px ;
	margin-bottom: 30px;
	text-align: center;
}

.texto1 {
	margin-bottom: 40px;
}

/* ---estilos Acordion--------------------*/ 


.acordion1A{
	background-color:rgb(228, 132, 88);
	color: black;
	box-shadow: black;
	margin-bottom: 15px;
	text-align: left !important;
}
.acordion2A{
	background-color:rgb(118, 202, 202);
	color: black;
	box-shadow: black;
	margin-bottom: 15px;
	text-align: left !important;
}

.acordion3A{
	background-color:rgb(218, 185, 80);
	color: black;
	box-shadow: black;
	margin-bottom: 15px;
	text-align: left !important;
}


/* --- Seccion HISTORIA --------------------*/ 

   
.cajaImgHistoria {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-image: url(../imagenes/fondo2-.jpg);
	padding: 15px;
	margin-top: 60px;
		  }
  
  .imgHistoria {
	width: 290px;
	border-radius:10px;
	margin: 20px;
	padding: 5px;
	animation: fadeInUp 3.5s ;
		  }

	.cajaTexHistoria {
		margin-top: 25px;
		margin-bottom: 25px;
	}
 


	/* --- Seccion PRODUCCION --------------------*/ 


.cajaVideo {
	background-color: #93dce9;
	text-align: center;
	border-radius:10px;
	transition: height 2s;
	margin: 10px;
	padding: 10px;
	animation: flipInX 3.5s;
	}

	a:hover .cajaVideo{
  	background-color: #FFD764;
  	cursor: pointer;
 	}

	.cajaVideo__img{
	width: 100%;
	margin: auto;
	}

	.cajaTexProduccion {
		margin-top: 15px;
		margin-bottom: 15px;

	}

	/* --- Seccion INFORMACION --------------------*/ 

.columnaInfo {
	padding: 20px;
	border-radius:10px;
	background-color:#ffd864;
	margin: 20px;
  	animation: fadeInUp 2s ;
	}

.cajaSubtitulo {
	height: 50px;
	margin: auto;
	padding: auto;
}

.imgInfo {
	margin-bottom: 20px;
	border-radius:10px;
	width: 100%;
	}


