header {
	background-color: #EBEDEF 30%;
	}

.logo{
     width: 180px; 
}

.navbar-light .navbar-nav .nav-link{
    color:rgb(8, 148, 141);
	text-decoration: none;

:hover{
	color: orange;
        }
    }