
p {
	line-height: 1.5;
}

h1{ 
	font-size: 35px;
	color: #42929D;
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	text-align:center;
	}

h2 {
	font-size: 22px;
	color:teal;
	}

h3 {
	font-size: 18px;
	color: #003366;
	margin: 20px 0px 20px 0px;
	font-weight: 600;
	}

h4 {color:#282923;
	background-color:rgb(226, 102, 1);
	margin-top: 6px;
	padding: 7px 20px; 	
	}

.destacado {
	color: rgb(226, 102, 1);
	font-weight: bold;
	font-size: 17px;
	}
		  
.texto1{
		margin-top: 20px;
		}

